*{
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace;
    font-size: 16px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

p{
    padding: 10px;
    font-size: 18px;
}

header{
    background-color: #1f2937;
    color: white;
    padding: 50px;
}

section{
    margin: 60px;
    font-weight: lighter;
    font-size: 18px;
}

/* Complex style */

/* Header */
ul{
    display: flex;
    gap: 50px;
}

.top-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.body-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body-head img{
    width: 500px;
    padding: 20px;
    border: 1px inset white;
}

.head-info{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 500px;
}

.head-info p{
    text-align: justify;
}

.head-info h1{
    font-size: 50px;
    font-weight: 900;
}

.head-info button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* Content */

section h1{
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 100px;
}

.body-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.body-info p{
    text-align: justify;
    max-width: 300px;
}

.body-info img{
    width: 300px;
    border-radius: 10px;
}
