*{
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace;
    font-size: 16px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

p{
    font-size: 18px;
}

header{
    background-color: #1f2937;
    color: white;
    padding: 50px;
}

section{
    margin: 60px;
    font-weight: lighter;
    font-size: 18px;
}

/* Complex style */

/* Header */
ul{
    display: flex;
    gap: 50px;
}

.top-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.body-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body-head img{
    width: 500px;
    padding: 20px;
    border: 1px inset white;
}

.head-info{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 500px;
}

.head-info p{
    text-align: justify;
}

.head-info h1{
    font-size: 50px;
    font-weight: 900;
}

.head-info button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* Content */

section h1{
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 100px;
}

.body-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.body-info p{
    text-align: justify;
    max-width: 300px;
}

.body-info img{
    width: 300px;
    border-radius: 10px;
}

footer{
    background-color: #1f2937;
    color: white;
    padding: 40px;
}

/* Quote */
.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
    padding: 100px;
}

.quote h2{
    font-weight: lighter;
    text-align: justify;
    font-style: italic;
}

.quote p{
    font-weight: 600;
}

/* Final */
.final-info{
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-body{
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-shrink: 1;
    gap: 50px;
    padding: 70px 100px;
    border-radius: 10px;

}

.btn button{
    padding: 10px 60px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}